:root {
    --header-background-color: #333333;
    --header-color: #ffffff;
    --navbar-background-color: #DDDDDD;
    --content-background-color: #EEEEEE;
    --header-height: 100px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.05rem;
    color: #333;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: #ccc;
}

#add-project-btn, #add-todo-btn {
    margin-bottom: 1rem;
}

button:hover {
    cursor: pointer;
    opacity: 0.75;
}

#header {
    height: var(--header-height);
    background-color: var(--header-background-color);
    color: var(--header-color);
    font-size: 2.5rem;
    font-weight: bold;
    display: grid;
    align-content: center;
    padding-left: 2rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: calc(100vh - var(--header-height));
}

#navbar, #content {
    padding: 1rem;
    text-align: center;
}

#navbar {
    background-color: var(--navbar-background-color);
}

#navbar #projects  {
    display: grid;
    gap: 0.75rem;
}

#navbar #projects .project {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: transparent;
}

#navbar #projects .project:hover {
    background-color: #ccc;
    opacity: 1;
}

#navbar #projects .remove-project {
    padding: 0 0.5rem;
    background-color: transparent;
    font-weight: bold;
}

#content {
    background-color: var(--content-background-color);
}

#content #todos {
    display: grid;
    gap: 1rem;
}

#content #todos button {
    background-color: transparent;
}

#content #todos button:hover {
    background-color: #ccc;
    opacity: 1;
}

#dialog[open] {
    padding: 1rem;
    margin: auto;
    display: grid;
    gap: 1rem;
}

dialog[open] :last-child {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
}

dialog[open] textarea {
    width: 100%;
}